html, body, .App {
    height: 100vh;
    margin: 0;
    background-color: #fff;
}

.App {
    display: flex;
    width: 80rem;
    margin: 0 auto;
    /*background-color: #333;*/
}

.loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 10;
    background: rgba(0, 0, 0, .5);
}